.footer_grid {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-column-gap: 3rem;
  max-width: 100%;
}

.footer_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  background-color: var(--first-color);
}

.legal_info {
  max-width: 75ch;
}
