@media screen and (min-width: 768px) {
  .content {
    padding: 4rem 0 2rem;
    margin: var(--mb-1-5);
  }

  .content_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
    overflow: hidden;
  }

  #posts {
    margin-top: var(--mb-2-5);
  }

  #options .content_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--mb-1);
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 1rem 0 2rem;
    margin: var(--mb-1-5);
  }

  .content_grid {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.5rem;
  }

  #posts {
    margin-top: var(--mb-0-5);
  }

  #options .content_item {
    display: flex;
    flex-direction: column;
    gap: var(--mb-0-5);
  }

  select {
    max-width: 17rem;
    height: 3rem;
  }
}

#options input {
  line-height: 2rem;
}

.form_grid {
  display: flex;
  flex-direction: column;
  gap: var(--mb-1);
}

#posts {
  min-width: 200px;
  padding-left: var(--mb-1-5);
}

#posts::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
#posts::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*  background: rgba(255,0,0,0.8);  */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.content_item {
  background-color: #fcf6ee;
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
  overflow: auto;
  max-height: 44rem;
}

#options {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

#options h3 {
  color: var(--text-color);
}

.content_syntax_label_highlight {
  color: var(--first-color);
}

.content_syntax_label {
  color: var(--text-color);
}

.content_syntax {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-inline-end: var(--mb-1);
  grid-gap: 0.7rem;
  align-content: center;
}

button {
  display: inline-block;
  background-color: var(--body-color);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-weight: var(--font-medium);
  border: none;
}

button:hover {
  background-color: var(--first-color-alt);
  color: white;
}

.custom_options {
  background-color: var(--body-color);
}

.content_input {
  width: 100%;
  background-color: #fcf6ee;
  background-color: var(--body-color);
  color: #7c746a;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-family: var(--body-font);
  font-size: 0.938rem;
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
}
